﻿
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Website Info Section -->
<div id="about">
    <header>
        <div class="title-header-img">
            <div class="section-title text-center">
                <h1>About Social Isolation</h1>
                <hr />
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="text-center col-xs-12 col-md-12">
                <h2>What are senior loneliness and social isolation?</h2>
            </div>
            <div class="col-xs-12 col-md-4 text-center">
                <img src="~/Content/img/loneliness.png" class="img-responsive center-block" alt="">
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="outer-container">
                    <div class="middle-container">
                        <div class="inner-container">
                            <p>
                                <strong>Loneliness:</strong> The feeling of lack or loss of companionship.
                            </p>
                            <p>
                                <strong>Social isolation:</strong>  Having little relationship with others.
                            </p>
                            <p>
                                Social isolation may lead to feelings of loneliness and loneliness is associated with the quality of social bonds.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-seperator col-xs-12 col-md-12">
                <hr />
            </div>

            <div class="text-center col-xs-12 col-md-12">
                <h2 class="text-center">Elderly Australians are more likely to live on their own and go out less often.</h2>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="outer-container">
                    <div class="middle-container">
                        <div class="inner-container">
                            <p>
                                <ul>
                                    <li>Elderly Australians are more likely to live alone and go out less often.</li>
                                    <li>29.7% of people aged 75-84 live alone.</li>
                                    <li>35.2% of people aged over 85 live alone.</li>
                                    <li>Elderly women (32%) are much more likely to live alone than elderly men (17%).</li>
                                    <li>59% of elderly people who live alone have reported that they are widowed.</li>
                                    <li>16.2% of people aged 65 and over do not leave home as frequently as before.</li>
                                    <li>46.8% of elderly Australians with a severe disability do not leave home as often as they wished.</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 text-center">
                <img src="~/Content/img/solitudeStats.png" class="img-responsive center-block" alt="">
            </div>
            <div class="info-seperator col-xs-12 col-md-12">
                <hr />
            </div>

            <div class="text-center col-xs-12 col-md-12">
                <h2>How serious are social isolation and loneliness?</h2>
            </div>
            <div class="col-xs-12 col-md-4 text-center">
                <img src="~/Content/img/seriousness.png" class="img-responsive center-block" alt="">
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="outer-container">
                    <div class="middle-container">
                        <div class="inner-container">
                            <p>
                                <ul>
                                    <li>Social isolation and loneliness will lead to poorer mental health and physical health</li>
                                    <li>Elderly people may have feelings of anger, sadness, depression, worthlessness, resentment, emptiness, vulnerability and pessimism</li>
                                    <li>
                                        If someone you know has a serious case of deression, there are many organisations that can help:
                                        <ul>
                                            <li><a href="https://www.beyondblue.org.au/">https://www.beyondblue.org.au/</a></li>
                                            <li><a href="https://au.reachout.com/">https://au.reachout.com/</a></li>
                                            <li><a href="https://www.blackdoginstitute.org.au/">https://www.blackdoginstitute.org.au/</a></li>
                                            <li><a href="https://www.sane.org/">https://www.sane.org/</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-seperator col-xs-12 col-md-12">
                <hr />
            </div>

            <div class="text-center col-xs-12 col-md-12">
                <h2>Strategies for social isolation and loneliness</h2>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="outer-container">
                    <div class="middle-container">
                        <div class="inner-container">
                            <p>
                                <ul>
                                    <li>Introducing interventions as part of a wider strategic approach</li>
                                    <li>Targeting specific groups of elderly people</li>
                                    <li>Using existing community resources</li>
                                    <li>Using volunteers to run programs</li>
                                    <li>Using targeted and tailored approaches</li>
                                    <li>Involving older people in the planning, delivery and evaluation of programs</li>

                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 text-center">
                <img src="~/Content/img/strategy.png" class="img-responsive center-block" alt="">
            </div>
        </div>
        <div class="info-seperator col-xs-12 col-md-12">
            <hr />
        </div>

        <div class="text-center col-xs-12 col-md-12">
            <h2>Projected Prevalence of Elderly Social Isolation in Victoria 2008-2040</h2>
        </div>

        <div class='tableauPlaceholder' id='viz1538707234035' style='position: relative'>
            <noscript>
                <a href='#'>
                    <img alt='Projected Prevalence of Elderly Social Isolation in Victoria 2008-2040 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;Projectedprevalence&#47;Sheet1&#47;1_rss.png' style='border: none' />
                </a>
            </noscript>
            <object class='tableauViz' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                <param name='embed_code_version' value='3' />
                <param name='site_root' value='' />
                <param name='name' value='Projectedprevalence&#47;Sheet1' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;Projectedprevalence&#47;Sheet1&#47;1.png' />
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
            </object>
        </div>
        <script type='text/javascript'>
            var divElement = document.getElementById('viz1538707234035');
            var vizElement = divElement.getElementsByTagName('object')[0];
            vizElement.style.width = '100%';
            //vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
            vizElement.style.height = '80vh';

            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>
        <div class="info-seperator col-xs-12 col-md-12">
            <hr />
        </div>

        <div class="text-center">
            <p>Now that you know more about social isolation. Lets do something to reduce it!</p>
            <a href='@Url.Action("Explore", "Places")' class="btn btn-lg btn-success" style="color:#fff;">Explore Places</a>
        </div>
        <div class="info-seperator col-xs-12 col-md-12">
            <hr />
        </div>

        <h4>References</h4>
        <p>
            <ol>
                <li>Pate, A (2014). ‘Social Isolation: Its impact on the mental health of older Victorians’, COTA Victoria, Working Paper No. 1, 12.</li>
                <li>Productivity Commission (2015). ‘Report on Government Services’, Chapter 13, Australian Government, Canberra, 67.</li>
                <li>Benevolent Society (2013). ‘Promoting social networks for older people in community aged care’, Research to Practice Briefing 2.</li>
                <li>NARI and COTA Victoria, ‘Healthy Ageing Literature Review’, 2012, 38.</li>
                <li>https://www.acsa.asn.au/getattachment/Publications-Submissions/Social-Isolation-and-Loneliness/1015-Social-Isolation-and-Loneliness-Paper.pdf.aspx?lang=en-AU</li>
            </ol>
        </p>
    </div>
</div>


@*   <script type="text/javascript">
        function initViz() {
            var containerDiv = document.getElementById("viz1538450430335"),
                url = "https://public.tableau.com/views/supportforelders/Sheet1?:embed=y&:display_count=yes",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {
                        console.log("Run this code when the viz has finished loading.");
                    }
                };

            var viz = new tableau.Viz(containerDiv, url, options);
            // Create a viz object and embed it in the container div.
        }
    </script>*@

@*<script src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
    <script>
        var placeholderDiv = document.getElementById("tableauViz");
        var url = "https://public.tableau.com/views/supportforelders/Sheet1?:embed=y&:display_count=yes";
        var options = {
            hideTabs: true,
            width: "800px",
            height: "700px",
            onFirstInteractive: function () {
                // The viz is now ready and can be safely used.
            }
        };
        var viz = new tableau.Viz(placeholderDiv, url, options);
    </script>*@

