﻿@model FuturaMod1.Models.Places

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h4>Details</h4>*@


<div id="details">
    <header>
        <div class="title-header-img">
            <div class="section-title text-center">
                <h1>@Html.DisplayFor(model => model.Name)</h1>
                <hr />
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 info">
                <dl>
                    <dt>@Html.DisplayNameFor(model => model.Address)</dt>

                    <dd>@Html.DisplayFor(model => model.Address)</dd>

                    <dt>@Html.DisplayNameFor(model => model.Suburb)</dt>

                    <dd>@Html.DisplayFor(model => model.Suburb)</dd>

                    <dt>@Html.DisplayNameFor(model => model.State)</dt>

                    <dd>VIC</dd>

                    <dt>@Html.DisplayNameFor(model => model.Postcode)</dt>

                    <dd>@Html.DisplayFor(model => model.Postcode)</dd>
                    @{ if (Model.CareType != null)
                        {
                            <dt>Care Type</dt>

                            <dd>@Html.DisplayFor(model => model.CareType)</dd>
                        }
                    }

                    @{ if (Model.Provider != null)
                        {
                            <dt>Provider</dt>

                            <dd>@Html.DisplayFor(model => model.Provider)</dd>
                        }
                    }

                    @{ if (Model.OrgType != null)
                        {
                            <dt>Organisation Type</dt>

                            <dd>@Html.DisplayFor(model => model.OrgType)</dd>
                        }
                    }

                    @*<dt>Remoteness</dt>

                <dd>@Html.DisplayFor(model => model.Remote)</dd>

                <dt>@Html.DisplayNameFor(model => model.Latitude)</dt>

                <dd>@Html.DisplayFor(model => model.Latitude)</dd>

                <dt>@Html.DisplayNameFor(model => model.Longitude)</dt>

                <dd>@Html.DisplayFor(model => model.Longitude)</dd>*@

                    <dt>@Html.DisplayNameFor(model => model.PlaceType)</dt>

                    <dd>@Html.DisplayFor(model => model.PlaceType)</dd>

                    @{ if (Model.Descri != null)
                        {
                            <dt>Website</dt>

                            <dd class="wordwrap">
                                @*<a href="@Html.DisplayFor(model => model.Descri)" target="_blank">Go to the website</a>*@
                                @{ if (Model.Descri.Contains("http"))
                                    {
                                    <a href="@Html.DisplayFor(model => model.Descri)" onclick="return confirm('You are about to be directed to an external website. Do you want to continue?')">
                                        @Html.DisplayFor(model => model.Descri)
                                    </a>
                                    }
                                    else
                                    {
                                    @Html.DisplayFor(model => model.Descri)
                                        }
                                    }

                            </dd>
                        }
                    }
                </dl>
            </div>

            @*-------------------------------------------- MAP STARTS HERE --------------------------------------------------*@
            @* look here: https://www.bing.com/api/maps/sdkrelease/mapcontrol/isdk   *@

            <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=combineFunc' async defer></script>
            <script type="text/javascript">

                var map;
                function LoadMap() {
                    map = new Microsoft.Maps.Map(
                        document.getElementById('myMap'),
                        {
                            credentials: "Aj5RlaeIRpue33oxwYrCJ_Lkvh5I20y8NfP3ItC3RwRZ-hnqlZ2mBChAgWNLIwtM"
                        });

                }

            function settingView() {
                map.setView({
                    zoom: 15,
                    center: new Microsoft.Maps.Location(@Model.Latitude, @Model.Longitude)
                });
            }
                function addMarker(latitude, longitude) {
                    center = new Microsoft.Maps.Location(latitude, longitude);

                    var pushpin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(latitude, longitude), { color: 'red', title: '@Model.Name'});
                    map.entities.push(pushpin);

                    Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {
                        var directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);
                        directionsManager.setRenderOptions({ itineraryContainer: document.getElementById('printoutPanel') });
                        directionsManager.showInputPanel('directionsInputContainer');
                        directionsManager.addWaypoint(new Microsoft.Maps.Directions.Waypoint({ address: '@Model.Address' , location: new Microsoft.Maps.Location(@Model.Latitude, @Model.Longitude) }));
                    });
                }
            function toAddMarker() {
                addMarker(@Model.Latitude, @Model.Longitude)
            }

            function combineFunc() {
                LoadMap();
                settingView();
                toAddMarker();
            }
            </script>
            @*<div class="col-sm-8 map-directions">*@
                <div class="col-sm-5 map">
                    <div id="myMap" style="width:450px; height:450px;"></div>
                </div>

                <div class="col-sm-4 directions">
                    <div id='directionsInputContainer'></div>
                    <p>Get directions here!</p>
                    <div id='printoutPanel'></div>

                </div>
                @*-------------------------------------------------MAP ENDS HERE-------------------------------------------------*@



            @*</div>*@
        </div>
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
            <a href="##" onClick="history.go(-1); return false;"> Back to List</a>
        </p>
    </div>
</div>

    
    