﻿
@{
    ViewBag.Title = "Explore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
<link href="~/Content/bootstrap-select.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-select.js"></script>

<div id="places">
    <header>
        <div class="title-header-img">
            <div class="section-title text-center">
                <h1>Explore Places and Activities</h1>
                <hr />
            </div>
        </div>
    </header>
    <div class="text-center">
        <h2>What would you like to do today?</h2>
    </div>
    @* Search for places and activities by postcode *@
    <div id="postcode-search" class="postcode-search">

        <div class="container text-center">
            <h3>View all senior friendly places of interest in your suburb</h3>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="input-group col-centered col-lg-8">
                        @*<input class="form-control" type="text" name="postCode" placeholder="Enter VIC Postcode  e.g. 3000" />*@
                        @*<select class="selectpicker form-control" id="number" name="postCode" data-container="body" data-live-search="true" title="Select a Postcode or Suburb" data-hide-disabled="true">

                            <option value="3000">1</option>
                            <option value="3064">2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>*@
                        @Html.DropDownList("postCode", (IEnumerable<SelectListItem>)ViewBag.postcodeList, new { @class = "selectpicker form-control", @id = "number", @required = "", @data_container = "body", @data_live_search = "true", @title = "Select a Postcode or Suburb", @data_hide_disabled = "true" })


                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    
                </div>
            }
        </div>
    </div>
    <script>

        $(document).ready(function () {
            $('selectpicker').selectpicker();
        });
    </script>

    <div class="container">

        @* Quiz to narrow down suitable place or activity for elders *@
        <div id="quiz" class="quiz container text-center">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <h3>Popular Activities</h3>
                <div class="row">
                    <div class="flex-box">
                    <div class="card catPopular">
                        <div class="catContainer">
                            <img src="~/Content/img/worshipCategory.jpg" class="catImage">
                            <div class="catBtnContainer">
                                <div class="catBtn"><button type="submit" name="inBtn" class="btn btn-default" value="worship">Find places of worship</button></div>
                            </div>
                            <div class="catTitle">
                                <h3>Find a place of Worship</h3>
                            </div>
                            <div class="catDescription">
                                <p>A place for religious activities, worship and community</p>
                            </div>
                        </div>
                    </div>

                    <div class="card catPopular">
                        <div class="catContainer">
                            <img src="~/Content/img/danceCategory.jpg" class="catImage">
                            <div class="catBtnContainer">
                                <div class="catBtn"><button type="submit" name="inBtn" class="btn btn-default" value="dance">Find dance classes</button></div>
                            </div>
                            <div class="catTitle">
                                <h3>Join a dance class</h3>
                            </div>
                            <div class="catDescription">
                                <p>A fun activity with many health benefits. Express your artistic and creative side through the power of dance.</p>
                            </div>
                        </div>
                    </div>
                    </div>

                </div>

                <h3>Find a suitable place or activity</h3>

                <button type="button" class="quizBackBtn btn btn-success" style="display:none">< Back</button>
                <div class="row">
                    <div class="flex-box">
                        @* Category 1 - Fist level of Categories *@

                        <div class="card cat1 catFun">
                            <div class="catContainer">
                                <img src="~/Content/img/meetingCategory.png" class="catImage">
                                <div class="catBtnContainer">
                                    <div class="catBtn"><button type="button" class="btn btn-default">Find out more</button></div>
                                </div>
                                <div class="catTitle">
                                    <h3>Have fun</h3>
                                </div>
                                <div class="catDescription">
                                    <p>
                                        Talking and playing games with peers to reduce loneliness
                                    </p>
                                    <p style="font-size:14px">
                                        In this category you can find:
                                        <br />
                                        Senior clubs, Art Spaces
                                    </p>

                                </div>

                            </div>
                        </div>

                        <div class="card cat1 catExercise">
                            <div class="catContainer">
                                <img src="~/Content/img/exerciseCategory.png" class="catImage">
                                <div class="catBtnContainer">
                                    <div class="catBtn"><button type="button" class="btn btn-default">Find out more</button></div>
                                </div>
                                <div class="catTitle">
                                    <h3>Do exercise</h3>
                                </div>
                                <div class="catDescription">
                                    <p>
                                        Relax and do some exercise. It's good for your health.

                                    </p>
                                    <p style="font-size:14px">
                                        In this category you can find:
                                        <br />
                                        Parks, Swimming pools, Relaxation activities
                                    </p>
                                </div>
                            </div>
                        </div>

                        @*<div class="card cat1 catEntertain">
            <div class="catContainer">
                <img src="~/Content/img/entertainmentCategory.jpg" class="catImage">
                <div class="catBtnContainer">
                    <div class="catBtn"><button type="button" class="btn btn-default">Find out more</button></div>
                </div>
                <div class="catTitle">
                    <h3>Discover new things</h3>
                </div>
                <div class="catDescription">
                    <p>
                        Find something interesting indoors
                    </p>
                    <p style="font-size:14px">
                        In this category you can find:
                        <br />
                        Art spaces, Cooking classes, Relaxation activities
                    </p>
                </div>
            </div>
        </div>*@

                        <div class="card cat1 catFoodDrink">
                            <div class="catContainer">
                                <img src="~/Content/img/fooddrinkCategory.jpg" class="catImage">
                                <div class="catBtnContainer">
                                    <div class="catBtn"><button type="button" class="btn btn-default">Find out more</button></div>
                                </div>
                                <div class="catTitle">
                                    <h3>Explore food</h3>
                                </div>
                                <div class="catDescription">
                                    <p>
                                        Finding a new places to try food
                                    </p>
                                    <p style="font-size:14px">
                                        In this category you can find:
                                        <br />
                                        Markets, Places for Food & Drink
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card cat1 catLearn">
                            <div class="catContainer">
                                <img src="~/Content/img/learningCategory.jpg" class="catImage">
                                <div class="catBtnContainer">
                                    <div class="catBtn"><button type="button" class="btn btn-default">Find out more</button></div>
                                </div>
                                <div class="catTitle">
                                    <h3>Discover new things</h3>
                                </div>
                                <div class="catDescription">
                                    <p>
                                        Take a seat, learn something new.
                                    </p>
                                    <p style="font-size:14px">
                                        In this category you can find:
                                        <br />
                                        Libraries, Cooking Classes
                                    </p>
                                </div>
                            </div>
                        </div>

                        @* Category 2 - Second level of Categories *@
                        <div class="card cat2 catFun-lvl2">
                            <div class="catContainer">
                                <img src="~/Content/img/seniorclubCategory.jpg" class="catImage">
                                <div class="catBtnContainer">
                                    <div class="catBtn"><button type="submit" name="inBtn" class="btn btn-default" value="club">Find senior clubs</button></div>
                                </div>
                                <div class="catTitle">
                                    <h3>Find a Senior Club</h3>
                                </div>
                                <div class="catDescription">
                                    <p>Senior clubs allow elder people to join social activities, make friends and be part of a community</p>
                                </div>
                            </div>
                        </div>

                        <div class="card cat2 catExercise-lvl2">
                            <div class="catContainer">
                                <img src="~/Content/img/parkgardenCategory.jpg" class="catImage">
                                <div class="catBtnContainer">
                                    <div class="catBtn"><button type="submit" name="inBtn" class="btn btn-default" value="park">Find parks</button></div>
                                </div>
                                <div class="catTitle">
                                    <h3>Visit a Park</h3>
                                </div>
                                <div class="catDescription">
                                    <p>Parks provide beautiful scenery, walking tracks, seats and picnic areas. They are great area for all types of seniors</p>
                                </div>
                            </div>
                        </div>

                        <div class="card cat2 catExercise-lvl2">
                            <div class="catContainer">
                                <img src="~/Content/img/swimmingCategory.jpg" class="catImage">
                                <div class="catBtnContainer">
                                    <div class="catBtn"><button type="submit" name="inBtn" class="btn btn-default" value="swim">Find swimming pools</button></div>
                                </div>
                                <div class="catTitle">
                                    <h3>Go for a Swim</h3>
                                </div>
                                <div class="catDescription">
                                    <p>Swimming is a great form of exercise for elders with weaker joints and can help to strengthen muscles</p>
                                </div>
                            </div>
                        </div>

                        <div class="card cat2 catFun-lvl2">
                            <div class="catContainer">
                                <img src="~/Content/img/artCategory.jpg" class="catImage">
                                <div class="catBtnContainer">
                                    <div class="catBtn"><button type="submit" name="inBtn" class="btn btn-default" value="art">Find art spaces</button></div>
                                </div>
                                <div class="catTitle">
                                    <h3>Explore Art Spaces</h3>
                                </div>
                                <div class="catDescription">
                                    <p>Explore different art spaces and galleries. Spark interest and excitement to make their life more enjoyable</p>
                                </div>
                            </div>
                        </div>

                        <div class="card cat2 catLearn-lvl2">
                            <div class="catContainer">
                                <img src="~/Content/img/cookingCategory.jpg" class="catImage">
                                <div class="catBtnContainer">
                                    <div class="catBtn"><button type="submit" name="inBtn" class="btn btn-default" value="cook">Find cooking classes</button></div>
                                </div>
                                <div class="catTitle">
                                    <h3>Learn to cook</h3>
                                </div>
                                <div class="catDescription">
                                    <p>Learn new recipes, kitchen skills, nutrition tips that will teach you to cook tasty meals</p>
                                </div>
                            </div>
                        </div>

                        <div class="card cat2 catExercise-lvl2">
                            <div class="catContainer">
                                <img src="~/Content/img/relaxationCategory.jpg" class="catImage">
                                <div class="catBtnContainer">
                                    <div class="catBtn"><button type="submit" name="inBtn" class="btn btn-default" value="relax">Find relaxation activities</button></div>
                                </div>
                                <div class="catTitle">
                                    <h3>Find somewhere to Relax</h3>
                                </div>
                                <div class="catDescription">
                                    <p>Relaxation activities such as yoga, meditation and tai chi can help calm the mind and provide many health benefits</p>
                                </div>
                            </div>
                        </div>

                        <div class="card cat2 catFoodDrink-lvl2">
                            <div class="catContainer">
                                <img src="~/Content/img/marketCategory.jpg" class="catImage">
                                <div class="catBtnContainer">
                                    <div class="catBtn"><button type="submit" name="inBtn" class="btn btn-default" value="market">Find markets</button></div>
                                </div>
                                <div class="catTitle">
                                    <h3>Go to the Market</h3>
                                </div>
                                <div class="catDescription">
                                    <p>Markets are a marvellous environment where people can explore and buy food, clothes and interesting items</p>
                                </div>
                            </div>
                        </div>

                        <div class="card cat2 catFoodDrink-lvl2">
                            <div class="catContainer">
                                <img src="~/Content/img/restaurantCafeCategory.jpg" class="catImage">
                                <div class="catBtnContainer">
                                    <div class="catBtn"><button type="submit" name="inBtn" class="btn btn-default" value="restaurantCafe">Find restaurants & cafes</button></div>
                                </div>
                                <div class="catTitle">
                                    <h3>Go to a Restaurant or Cafe</h3>
                                </div>
                                <div class="catDescription">
                                    <p>Plenty of cafes and restaurants. Try a new cusine or grab a coffee</p>
                                </div>
                            </div>
                        </div>

                        <div class="card cat2 catFoodDrink-lvl2">
                            <div class="catContainer">
                                <img src="~/Content/img/bakeryCategory.jpg" class="catImage">
                                <div class="catBtnContainer">
                                    <div class="catBtn"><button type="submit" name="inBtn" class="btn btn-default" value="bakery">Find bakeries</button></div>
                                </div>
                                <div class="catTitle">
                                    <h3>Go to a Bakery</h3>
                                </div>
                                <div class="catDescription">
                                    <p>Treat yourself to some baked food and treats.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card cat2 catFoodDrink-lvl2">
                            <div class="catContainer">
                                <img src="~/Content/img/takeawayCategory.jpg" class="catImage">
                                <div class="catBtnContainer">
                                    <div class="catBtn"><button type="submit" name="inBtn" class="btn btn-default" value="takeaway">Find takeaway shops</button></div>
                                </div>
                                <div class="catTitle">
                                    <h3>Get some Takeaway food</h3>
                                </div>
                                <div class="catDescription">
                                    <p>Eager to try a new cusine? No time to cook your own food? There are a variety of takeaway shops to choose from.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card cat2 catLearn-lvl2">
                            <div class="catContainer">
                                <img src="~/Content/img/libraryCategory.jpg" class="catImage">
                                <div class="catBtnContainer">
                                    <div class="catBtn"><button type="submit" name="inBtn" class="btn btn-default" value="library">Find libraries</button></div>
                                </div>
                                <div class="catTitle">
                                    <h3>Visit the Library</h3>
                                </div>
                                <div class="catDescription">
                                    <p>Countless books to choose from to pass the time. Many libraries also provide programs to help you pick up a new skill, such as learning to use a computer.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
        @* JQuery script to navigate through the categories *@
        <script>
            function reset(jQuery) {
                $('.card, .quizBackBtn').hide();
                $('.cat1, .catPopular').show();
            };

            function backButton() {
                $('.quizBackBtn').click(reset);
            };

            function catFun() {
                $('.catFun .btn').click(function () {
                    $('.card').hide();
                    $('.catFun-lvl2, .quizBackBtn').show();
                });
            };
            function catExercise() {
                $('.catExercise .btn').click(function () {
                    $('.card').hide();
                    $('.catExercise-lvl2, .quizBackBtn').show();
                });
            };
            function catEntertain() {
                $('.catEntertain .btn').click(function () {
                    $('.card').hide();
                    $('.catEntertain-lvl2, .quizBackBtn').show();
                });
            }
            function catFoodDrink() {
                $('.catFoodDrink .btn').click(function () {
                    $('.card').hide();
                    $('.catFoodDrink-lvl2, .quizBackBtn').show();
                });
            }
            function catLearn() {
                $('.catLearn .btn').click(function () {
                    $('.card').hide();
                    $('.catLearn-lvl2, .quizBackBtn').show();
                });
            }

            $(function () {
                reset();
                backButton();
                catFun();
                catExercise();
                catEntertain();
                catFoodDrink();
                catLearn();
            });
        </script>
    </div>
</div>

