﻿@model IEnumerable<FuturaMod1.Models.Places>

@{
    ViewBag.Title = "Places";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
<div id="places">
    <header>
        <div class="title-header-img">
            <div class="section-title text-center">
                <h1>Places and Activities</h1>
                <hr />
            </div>
        </div>
    </header>

    <div class="container">
        <h2>Browse places of interest in VIC @ViewBag.ShowPost</h2>
        <div class="col-sm-12 row filter">
            <div class="col-sm-6">
                @using (Html.BeginForm())
                {
                    <div class="input-group">
                        <input type="text" id="postcode" name="postString" value="@ViewBag.ShowPost" hidden="hidden" />@*<input type="submit" value="Change" /></p>*@
                        @*<p>Search: <input type="text" id="search" name="searchString" value="@ViewBag.ShowName" /><input type="submit" value="Search" /></p>*@
                        <input type="text" id="search" name="searchString" value="@ViewBag.ShowName" placeholder="E.g 'Park', 'Swanston Street', 'Pool'..." />

                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>

                    </div>
                }
            </div>
            <div class="col-sm-6">
                <p class="wrong-postcode">
                    @*@Html.ActionLink("Change Postcode?", "Home")*@
                    <a href="@Url.Action("Home", "Places")#postcode-search">Change postcode or suburb?</a>
                </p>
            </div>
        </div>

        <div class="col-sm-12">
            <ul class="nav nav-pills nav-justified">
                <li class="active pill-list">
                    <a data-toggle="pill" href="#list">List</a>
                </li>
                <li class="pill-map">
                    <a data-toggle="pill" href="#map">Map</a>
                </li>
            </ul>

            <p style="color:red">@ViewBag.Err</p>
        </div>

        <div class="tab-content col-sm-12">
            <div id="list" class="tab-pane fade in active">
                <div class="row display">

                    <table id="placeTable" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Address</td>
                                <td>Postcode</td>
                                <td>Place Type</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr onclick="location.href = '@(Url.Action("Details", "Places", new { id = item.Id }))'">
                                    <td>@item.Name</td>
                                    <td>@item.Address, @item.Suburb</td>
                                    <td>@item.Postcode</td>
                                    <td>@item.PlaceType</td>
                                </tr>
                                @*<a href="@Url.Action("Details", "Places", new { id = item.Id })">
                                        <div class="col-sm-4 display">
                                            <div class="caption">
                                                <h3>@item.Name</h3>
                                                <p>@item.Address, @item.Suburb</p>
                                                <p>@item.Postcode</p>
                                                <p>@item.PlaceType</p>

                                            </div>
                                        </div>
                                    </a>*@


                            }
                        </tbody>
                    </table>
                    <script>
                        $(document).ready(function () {
                            $('#placeTable').DataTable();
                        });
                    </script>
                </div>
            </div>
            <div id="map" class="tab-pane fade in active">
                @*@using (Html.BeginForm())
                    {*@
                @*<div class="input-group">
                        <input type="text" id="search" name="searchString" placeholder="Enter Postcode E.g '3000'" />

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-lg" onclick="geocodeQuery('AUS VIC' + getElementById('search').value + '')">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>

                    </div>*@
                @*}*@

                @*<p>Step 3: click a pushpin for more info, then click "get details" for navigation</p>*@
                @*-------------------------------------------- MAP STARTS HERE --------------------------------------------------*@
                @* look here: https://www.bing.com/api/maps/sdkrelease/mapcontrol/isdk   *@

                <script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?callback=combineFunc" async defer></script>
                <script type="text/javascript">

                    var map, searchManager;
            function LoadMap() {

                    map = new Microsoft.Maps.Map(
                        document.getElementById('myMap'), {
                            credentials: "Aj5RlaeIRpue33oxwYrCJ_Lkvh5I20y8NfP3ItC3RwRZ-hnqlZ2mBChAgWNLIwtM",
                            disableScrollWheelZoom: true,
                            zoom: 12
                        });
                }


                function addMarker(latitude, longitude, title, address, id, iconName) {
                    center = new Microsoft.Maps.Location(latitude, longitude);
                    var url = 'details/' + id;
                    var pushpin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(latitude, longitude), { icon: '/Content/img/' + iconName});
                    var infobox = new Microsoft.Maps.Infobox(center, {
                        title: title,
                        description: address,
                        actions: [{
                            label: 'Get Details', eventHandler: function () { window.location.href = url; }
                        }],
                        visible: false,
                        showPointer: false,
                        //closeDelayTime: 500,
                        maxHeight: 888
                    });
                    var infoboxOptions = {
                        width: 200,
                        height: 300, showCloseButton: true,
                        zIndex: 0, offset: new
                            Microsoft.Maps.Point(10, 0),
                        showPointer: true,

                    };
                    infobox.setMap(map);
                    Microsoft.Maps.Events.addHandler(pushpin, 'click', function (args) {
                        infobox.setOptions({
                            visible: true
                        });
                    });
                    Microsoft.Maps.Events.addHandler(pushpin, 'mouseover', function (args) {
                        infobox.setOptions({
                            visible: true
                        });
                    });
                    Microsoft.Maps.Events.addHandler(pushpin, 'mouseout', function (args) {
                        infobox.setOptions({
                            visible: false
                        });
                    });
                    map.entities.push(pushpin);
                }

            function nexStep() {
                var locs = [];

                @foreach (var item in Model) {
                    var iconName = "";
                    switch (item.PlaceType){
                        case "Aged Care Centre" :
                            iconName = "agedCareIcon.png";
                            break;
                        case "Art Space" :
                            iconName = "artIcon.png";
                            break;
                        case "Club":
                            iconName = "clubIcon.png";
                            break;
                        case "Cooking":
                            iconName = "cookingIcon.png";
                            break;
                        case "Garden" :
                            iconName = "gardenIcon.png";
                            break;
                        case "Park":
                            iconName = "parkIcon.png";
                            break;
                        case "Relaxation":
                            iconName = "relaxationIcon.png";
                            break;
                        case "Swimming Pool" :
                            iconName = "poolIcon.png";
                            break;
                        case "Market":
                            iconName = "marketIcon.png";
                            break;
                        case "Library":
                            iconName = "libraryIcon.png";
                            break;
                        case "Restaurants and Cafes":
                            iconName = "restaurantCafeIcon.png";
                            break;
                        case "Bakery":
                            iconName = "bakeryIcon.png";
                            break;
                        case "Takeaway":
                            iconName = "takeawayIcon.png";
                            break;
                        case "Place of Worship":
                            iconName = "worshipIcon.png";
                            break;
                        case "Dance":
                            iconName = "danceIcon.png";
                            break;
                        default:
                            iconName = "";
                            break;
                    }

                    @:addMarker(@item.Latitude, @item.Longitude, '@item.Name', '@item.Address', @item.Id, '@iconName');
                    @:locs.push(new Microsoft.Maps.Location(@item.Latitude, @item.Longitude));
                }

                var bounds = Microsoft.Maps.LocationRect.fromLocations(locs);

                map.setView({ bounds: bounds, padding: 40 });

                    }

                    //function yourLoc() {
                    //    var aaa = new Microsoft.Maps.Pushpin(map.getCenter(), { title: "YOU", color: 'red' });
                    //    map.entities.push(aaa);
                    //}


                    function geocodeQuery(query) {
                        /* code from: https://msdn.microsoft.com/en-us/library/mt712841.aspx*/
                        //If search manager is not defined, load the search module.
                        if (!searchManager) {
                            //Create an instance of the search manager and call the geocodeQuery function again.
                            Microsoft.Maps.loadModule('Microsoft.Maps.Search', function () {
                                searchManager = new Microsoft.Maps.Search.SearchManager(map);
                                geocodeQuery(query);
                            });
                        } else {
                            var searchRequest = {
                                where: query,
                                callback: function (r) {
                                    //Add the first result to the map and zoom into it.
                                    if (r && r.results && r.results.length > 0) {
                                        map.setView({ bounds: r.results[0].bestView });
                                    }
                                },
                                errorCallback: function (e) {
                                    //If there is an error, alert the user about it.
                                    alert("No results found.");
                                }
                            };

                            //Make the geocode request.
                            searchManager.geocode(searchRequest);
                        }
                    }

            function combineFunc() {
                LoadMap();
                nexStep();
                //yourLoc();
            }

                </script>

                <div id="myMap" style="position:relative; width:100%; height:600px;" onload="combineFunc()"></div>
                @*-------------------------------------------------MAP ENDS HERE-------------------------------------------------*@
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#myMap').hide(1000);
        $('.pill-map  a').click(function () {
            $('#myMap').show();
        });
    });
</script>