﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="header">
    <div class="intro">
        <!-- fullscreen -->
        <div id="carousel" class="carousel slide carousel-fullscreen carousel-fade" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active" style="background-image: url('/Content/img/intro-bg1.jpg');">
                    <div class="overlay"></div>

                </div>
                <div class="item" style="background-image: url('/Content/img/intro-bg2.jpg');">
                    <div class="overlay"></div>

                </div>
                <div class="item" style="background-image: url('/Content/img/intro-bg3.jpg');">
                    <div class="overlay"></div>

                </div>
                <div class="item" style="background-image: url('/Content/img/intro-bg4.jpg');">
                    <div class="overlay"></div>

                </div>
                <div class="item" style="background-image: url('/Content/img/intro-bg5.jpg');">
                    <div class="overlay"></div>

                </div>
            </div>

        </div>

        <div class="intro-text">
            <div class="intro-text-function">
                <h1>VIC Senior Life</h1>
                <p>You are not alone</p>

                <p>Find senior friendly places of interest in your neighbourhood.</p>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">

                        <div class="input-group col-centered col-lg-8">
                            <input class="form-control" type="text" name="postCode" placeholder="Enter VIC Postcode  e.g. 3000" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default btn-lg">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                    <p style="color: red">
                        Invalid postcode, please try again
                        <br />
                        Or<a href="http://auspost.com.au/postcode/"> click here </a> to check your postcode
                    </p>
                }
                @*<div style="text-align: center; vertical-align: middle; font-family: Verdana; color: Blue; position: absolute; top: 50%; left: 50%; margin-left: -88px; font-size: small;" id="dvProgress" runat="server">
                        Please Wait ...<img src="images/load.gif" style="vertical-align: middle" alt="Processing" />
                    </div>*@

                @*$(document).ready(function()
                    {
                    $("div[id$=dvProgress]").fadeOut("fast");
                    }*@
            </div>
        </div>

    </div>
</header>